:root {
  --dark: teal;
  --light: #fff;
  --background-1: black;
  --background-2: #fff;
}

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-image: url(../images/coding4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-1);
  color: var(--dark);
  padding: 1%;
}
h1 {
  font-size: 200%;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.25em;
  color: var(--light);
}

a:hover {
  color: var(--dark);
}

article {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50vh;
}

article h2 {
  color: var(--light);
  font-size: 500%;
  padding-right: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.main {
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: fit-content;
  margin: 50px 0;
  width: 100%;
}

.h2 {
  display: flex;
  flex: 1 1 30%;
  width: 30%;
  justify-content: center;
  align-items: center;
  /* border-right: 5px solid var(--light); */
  font-size: 300%;
  background-color: var(--background-1);
  border: 10px solid var(--dark);
  color: var(--dark);
}
.p {
  flex: 1 1 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.p ul li {
  display: inline;
  font-weight: bolder;
  color: var(--light);
}

.p ul li a {
  text-decoration: none;
  font-weight: bolder;
  color: var(--light);
}

.p ul li a:hover {
  color: black;
}

.first-project {
  width: 30%;
  height: 90%;
}

.first-project img {
  width: 100%;
  height: 100%;
}

.description {
  position: relative;
  left: -5px;
  bottom: 90%;
  background: var(--background-1);
  width: 40%;
  height: 20%;
  border: 5px solid var(--dark);
  color: var(--light);
}
.list {
  align-items: center;
  justify-content: space-around;
}

.projects-container {
  flex: 1 1 70%;
  width: 70%;
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  margin: 10px 10px;
}
.card img {
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 5px 16px;
}
.card-body h3 {
  font-size: 200%;
}
.card-text a {
  text-decoration: none;
  color: var(--light);
}

.card-text a:hover {
  color: black;
}

.small {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.card-small {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px 10px;
  width: 45%;
}

.card-small img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  main {
    flex-flow: column;
  }
  .main {
    flex-flow: column;
  }
  /* .h2 {
    border: 5px solid var(--dark);
    background-color: var(--light);
  } */
  article {
    display: none;
  }
  .list {
    flex-flow: column;
  }
  .card {
    flex-flow: column;
    width: 100%;
  }
}
