:root {
  --dark: teal;
  --light: #fff;
  --background-1: black;
  --background-2: #fff;
}

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-1);
  color: var(--dark);
  padding: 1%;
}
h1 {
  font-size: 200%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.25em;
  color: var(--light);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2 {
  font-size: 2em;
  border-right: 5px solid var(--dark);
}

.main {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

#projects {
  display: flex;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
